.v-data-table-header__content {
  font-size: 1.2rem;
}

.v-data-table__td {
  font-size: 1rem;
}

.v-data-table-rows-no-data {
  font-size: 0.9rem;
}

.v-divider {
  margin: 0px;
}

.action {
  button:hover {
    background-color: black !important;
  }
}
